body{
  margin: 0;
  padding: 0;
  background: url(https://i.pinimg.com/originals/c0/73/4e/c0734e0e5751bf66896d2bced7a3b7cf.jpg) no-repeat;
  background-size:cover;
}
.box{
  width: 450px;
  background: #00000075;
  padding: 40px;
  text-align: center;
  margin:auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
  background: white;
  border-radius: 5px;
  height: 45px;
}

.fab{
  color:rgb(56, 68, 240);
}